<div class="c-body">
    <main class="c-main">
        <div class="container-fluid">
            <div class="core-container">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    {{!-- the text should be match the perpose Add/Edit --}}

                                    <h4>{{#if id}}
                                        Edit Event
                                        {{else}}
                                        Add new Event
                                        {{/if}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel mb-5 card-accent-info">
                            <div class="panel-body">
                                <form method="POST" enctype="multipart/form-data"
                                    action={{#if id}}"/events/update/{{id}}" {{else}}"/events/create" {{/if}}>

                                    <div class="nav-tabs-boxed pseu-tabs">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="general" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label>Event Name</label><span
                                                                        class="required text-danger ml-1">*</span>
                                                                    <input name="name" value={{#if id}} {{getObject  event "name"}}
                                                                        {{else}} "" {{/if}} type="text"
                                                                        class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label class="col-form-label" for="logo">Event
                                                                        Picture</label><span
                                                                        class="required text-danger ml-1">*</span>
                                                                    <input id="event" type="file" name="event"
                                                                        accept="image/png,image/jpg,image/jpeg"
                                                                        {{#if id}} {{else}}required{{/if}}>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label>Date</label>
                                                                    <input name="time" type="time" class="form-control"
                                                                        value=" {{#if id}}{{getObject  event "eventTime"}}{{else}} "" {{/if}}">
                                                                    <input name="date" type="date" class="form-control"
                                                                        value=" {{#if id}}{{getObject  event "eventDate"}}{{else}} "" {{/if}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label>Event Description</label><span
                                                                        class="required text-danger ml-1">*</span>
                                                                    <textarea class="form-control" name="description"
                                                                        required>{{#if id}} {{getObject event "description"}}  {{/if}}</textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label>Event Place</label>
                                                                    <div class="uk-form-controls">
                                                                        <select  class="form-control form-control-lg" name="select">
                                                                            {{#each allPlaces}}
                                                                            <option  value="{{getObject  this "_id"}}">{{getObject  this "name"}}</option>
                                                                            {{/each}}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="my-3 text-right">
                                                            <button class="btn btn-primary" type="submit">{{#if id}}
                                                                Edit {{else}} Create {{/if}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>